*{
    margin:0;
    padding: 0;
    text-align: center;
    line-height: 1.5 !important;
        overflow-x: hidden;       
}
b, strong {
    font-weight: bolder;
    font-size: 21px !important;
    font-family: cursive !important;
}
.navbar{ 
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 30%, #7ee8fa 74%);
    padding:.5rem 1rem !important; }

.nav-link , .navbar-brand{ color: #002d56 !important;; cursor: pointer;}

.nav-link{ margin-right: 1em !important;
font-size: 18px;
}

.nav-link:hover{ color: #f97300; }

.navbar-collapse{ justify-content: flex-end;}

.navbar-toggler{  background: #002d56 !important;}

.navbar-toggler-icon{  color: floralwhite !important;}
.nav-item a {
    position: relative;
}

.card-img, .card-img-bottom, .card-img-top {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 198px !important; 
}

img {
    margin-bottom: 15px;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-position: center !important;
}
#tourSlider .MS-content .item {
    border: #e0e0e0 solid 1px;
}
img {
   
    padding: 14px !important; 
}
.test {
    color: white !important;
    font-family: cursive;
    font-weight: bold;
    text-decoration: none;
    background-color: #04abea !important;
    display: block;
    height: 44px;
text-decoration: none !important;
    padding: 10px !important;
}
#card1{
    box-shadow: 0px 0px 6px 0px #505050;;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
    overflow: hidden !important;
} 
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
.card:hover {
    -webkit-transform: scale(1.04);
    transform: scale(1.02);
    
   
}
.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
    margin-bottom: 45px;
}

.rating {
    position: relative;
    display: flex;
    width: 2.875rem;
    height: 2.875rem;
    margin-top: -1.75rem;
    margin-left: 0.75rem;
    justify-content: center;
    align-items: center;
    border: .25rem solid #fff;
    border-radius: 50%;
    color: #fff;
    background-color: rebeccapurple
}

.image {
    max-width: 100%
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    border-radius: .25rem;
    cursor:pointer;
    
}

.card-title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    color: #653399
}

.card-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 100;
    font-size: 13px
}

.marker {
    color: red
}

.star-rating {
    color: #f7b944
}

.nav-item a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 1px solid black;
    transition: 0.4s;
}

.nav-item a:hover:after {
    width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 1px;
    margin-bottom: .5rem;
    padding-top: 30px !important;
}

.navbar-collapse{ justify-content: flex-end;}
.row {
    margin-top: 53px !important;
}
.h3, h3 {
    font-size: 2rem !important; 
}
p { 
    font-family: ui-monospace !important;
}


.footer .main-footer{  padding: 20px 0;  background: #252525;}


/* Copy Right Footer */
.footer-copyright { background: #222; padding: 5px 0;}
.footer-copyright .logo {    display: inherit;}
.footer-copyright nav {    float: right;    margin-top: 5px;}

.footer-copyright nav ul li a{  color: #969696;}
.footer-copyright nav ul li:first-child { border: medium none;  padding-left: 0;}
.footer-copyright p { color: #969696; margin: 2px 0 0;}

/* Footer Top */
.footer-top{  background: #252525;  padding-bottom: 30px; margin-bottom: 30px;  border-bottom: 3px solid #222;}
/* Footer 4 */
.footer- .logo {    display: inline-block;}
@media (min-width: 768px){
.col-md-3 {
   
    flex: 1 0 25% !important;
    max-width: 33% !important;
    
}
}
.subtitle-a{
    font-weight: bold;
    font-size: 20px;
}


 */
